from typing import List, Optional
from datetime import date, datetime

from pydantic import BaseModel


{% for model in models %}
class {{ model.to_annotation() }}(BaseModel):
    {% for prop_name, prop_type in model.properties.items() -%}
    {{ prop_name }}: {{ model.property_annotation(prop_name) }}{% if prop_name not in model.required %} = None{% endif %}
    {% endfor %}
{% endfor %}
