[tool.poetry]
name = "nonebot-adapter-qqguild"
version = "0.1.0"
description = "QQ Guild adapter for nonebot2"
authors = ["yanyongyu <yyy@nonebot.dev>"]
license = "MIT"
readme = "README.md"
homepage = "https://v2.nonebot.dev/"
repository = "https://github.com/nonebot/adapter-qqguild"
documentation = "https://v2.nonebot.dev/"
keywords = ["bot", "qq", "qqbot", "qqguild"]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Framework :: Robot Framework",
  "Framework :: Robot Framework :: Library",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3"
]
packages = [
  { include = "nonebot" }
]

[tool.poetry.dependencies]
python = "^3.7.3"
pydantic = "^1.9.0"
nonebot2 = "^2.0.0-beta.1"

[tool.poetry.dev-dependencies]
isort = "^5.10.1"
black = "^22.1.0"
httpx = "^0.22.0"
pre-commit = "^2.17.0"
pytest-asyncio = "^0.18.1"
nonebug = { git = "https://github.com/nonebot/nonebug.git" }
nonebot2 = { git = "https://github.com/nonebot/nonebot2.git" }

# [[tool.poetry.source]]
# name = "aliyun"
# url = "https://mirrors.aliyun.com/pypi/simple/"
# default = true
Jinja2 = "^3.0.3"

[tool.black]
line-length = 88
target-version = ["py37", "py38", "py39", "py310"]
include = '\.pyi?$'
extend-exclude = '''
'''

[tool.isort]
profile = "black"
line_length = 88
length_sort = true
skip_gitignore = true
force_sort_within_sections = true
extra_standard_library = ["typing_extensions"]

[tool.codegen]
url = "https://cdn.jsdelivr.net/gh/tencent-connect/bot-oas/v1/openapi.yaml"
model-output = "nonebot/adapters/qqguild/api/model.py"
client-output = "nonebot/adapters/qqguild/api/client.py"
handle-output = "nonebot/adapters/qqguild/api/handle.py"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
